body{
    background-color:lightgrey;
    margin: 20px;
}

.artist{
    color: blue;
}

.artist_opened{
    color:blueviolet;
}

.album{
    color:brown;
    margin-left: 30px;
}

.artist:hover{
    text-decoration: underline;
    cursor: pointer;
}

.user_div{
    width: 200px;
    height: 30px;
}

.user_button{
    width: 150px;
    height: 20px;
    color: black;
    background-color: cadetblue;
}