body{
    background-color:lightgrey;
    margin: 20px;
}

.artist{
    color: blue;
}

.artist_opened{
    color:blueviolet;
}

.album{
    color:brown;
    margin-left: 30px;
}

.artist:hover{
    text-decoration: underline;
    cursor: pointer;
}